aiofiles==0.7.0
alembic==1.7.4
anyio==3.3.3
apache-airflow==2.2.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-sqlite==2.0.1
apispec==3.3.2
argcomplete==1.12.3
asgi-csrf==0.9
asgiref==3.4.1
asn1crypto==0.24.0
async-generator==1.10
attrs==20.3.0
Babel==2.9.1
blinker==1.4
Brotli==1.0.9
cached-property==1.5.2
cattrs==1.0.0
certifi==2020.12.5
cffi==1.14.6
charset-normalizer==2.0.12
click==7.1.2
click-default-group==1.2.2
clickclick==20.10.2
colorama==0.4.4
colorlog==4.8.0
commonmark==0.9.1
contextvars==2.4
croniter==1.0.15
cryptography==3.4.8
dash==2.6.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses
datasette==0.59.1
defusedxml==0.7.1
dill==0.3.1.1
dnspython==2.1.0
docutils==0.16
email-validator==1.1.3
Flask==1.1.4
Flask-AppBuilder==3.3.3
Flask-Babel==1.0.0
Flask-Caching==1.10.1
Flask-Compress==1.12
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.3.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
graphviz==0.17
gunicorn==20.1.0
h11==0.12.0
httpcore==0.13.7
httpx==0.19.0
hupper==1.10.3
ibm-cos-sdk==2.0.1
ibm-cos-sdk-core==2.12.0
ibm-cos-sdk-s3transfer==2.12.0
ibm-db
idna==3.2
immutables==0.16
importlib-metadata==4.8.3
importlib-resources==5.2.2
inflection==0.5.1
iso8601==0.1.16
isodate==0.6.0
itsdangerous==1.1.0
janus==0.6.2
Jinja2==2.11.3
jmespath==0.10.0
jsonschema==3.2.0
keyring==10.6.0
keyrings.alt==3.0
lazy-object-proxy==1.4.3
lockfile==0.12.2
Mako==1.1.5
Markdown==3.3.4
MarkupSafe==1.1.1
marshmallow==3.13.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.23.1
mergedeep==1.3.4
numpy==1.19.5
openapi-schema-validator==0.1.5
openapi-spec-validator==0.3.1
packaging==21.0
pandas==1.1.5
pendulum==2.1.2
pep562==1.1
Pint==0.17
plotly==5.10.0
pluggy==1.0.0
prison==0.2.1
psutil==5.8.0
psycopg2==2.9.3
pycparser==2.20
pycrypto==2.6.1
Pygments
PyGObject
PyJWT
pyparsing
pyrsistent
python-apt
python-baseconv
python-daemon
python-dateutil
python-multipart
python-nvd3
python-slugify
python3-openid
pytz
pytzdata
pyxdg
PyYAML
requests
rfc3986
rich
SecretStorage
setproctitle
six
skillsnetwork
sniffio
SQLAlchemy
SQLAlchemy-JSONField
SQLAlchemy-Utils
swagger-ui-bundle
tabulate
tenacity
termcolor
text-unidecode
tqdm
typing
typing-extensions
unattended-upgrades
unicodecsv
urllib3
uvicorn
Werkzeug
WTForms
zipp
